.gcloudignore
# Git Tooling / NPM Tooling
node_modules/
.git/
.github/
.gitattributes
.gitignore
README.md
LICENSE
CODE_OF_CONDUCT.md
codeql-config.yml
FUNDING.yml
PULL_REQUEST_TEMPLATE.md
SECURITY.md
# Other repo data not needed
.all-contributorsrc
.complexrc
.prettierignore
app.example.yaml
data/
coverage/
docs/
scripts/
coverage/
.codacy.yaml
.eslint.js
jest.config.js
