# Workflow intended to be run only on a PR, that runs integrations tests against it

name: CI - Pull Integration Tests

on:
  pull_request:
    types: [opened]

env:
  PORT: 8080
  SEARCHALGORITHM: "lcs"
  SERVERURL: "http://localhost:8080"
  PAGINATE: 30
  CACHETIME: 60000
  DEBUGLOG: true
  FILESTORE: "sql"

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Install Dependencies
        run: npm install
      - name: Run Tests
        run: npm run test:integration 
